@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:host {
  --fg: #222;
  --fg2: #737272;
  --bg: #fafafa;
  --bg2: #eaeaea;
  --hr: #ddd;
  --on: #fe5e19;

  --padV: 8px;
  --padH: 16px;
  --inputRadius: 4px;
}

@media (prefers-color-scheme: dark) {
  :host {
    --fg: #eeeeee;
    --fg2: #b4b4b4;
    --bg: #1c1c1c;
    --bg2: #2e2e2e;
    --hr: #2e2e2e;

    --inputBgColor: hsla(0, 0%, 50%, 15%);
    --inputHoverColor: var(--fg);
    --inputHoverBgColor: hsla(0, 0%, 50%, 25%);
  }
}

:host {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  top: 32px;
  left: 32px;
  width: 256px;
  font-size: 12px;
  line-height: 16px;
  font-family: ui-system, sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  border: 1pt solid var(--hr);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

  -webkit-font-smoothing: antialiased;

  /* Animate in */
  opacity: 0;
  animation: fadeInUp 200ms ease-out forwards;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: unset;
  margin: unset;
  padding: 8px 8px 8px 16px;
  font-weight: 600;
  color: var(--fg);
  background-color: transparent;
  cursor: move;
}

.btn {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  min-width: 24px;
  color: var(--fg);
  background-color: transparent;
  border: 0 none;
  border-radius: var(--inputRadius);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--bg2);
}

.btn.on {
  color: var(--bg);
  background-color: var(--on);
}

.picker,
.palette {
  border-top: 1px solid var(--hr);
}

.palette {
  padding: var(--padV) 0;
}

.picker,
.palette > div {
  padding: var(--padV) var(--padH);
}

.picker {
  padding-left: calc(var(--padH) / 2);
}

.datum-k {
  margin-bottom: 4px;
  color: var(--fg2);
}

.datum-v {
  max-width: 100%;
  min-height: 16px;
  content: ' ';
  color: var(--fg);
  font-weight: 600;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
}

.datum-v::-webkit-scrollbar {
  display: none;
}
