@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  --fg: #222;
  --fg2: #737272;
  --bg: #fafafa;
  --bg2: #eaeaea;
  --hr: #e5e5e5;
  --on: #fe5e19;
  --br: 4px;

  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  top: 32px;
  left: 32px;
  width: 256px;
  font-size: 12px;
  line-height: 16px;
  font-family: ui-system, sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  border: 1pt solid var(--hr);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  -webkit-font-smoothing: antialiased;

  /* Animate in */
  opacity: 0;
  animation: fadeInUp 200ms ease-out forwards;
}

@media (prefers-color-scheme: dark) {
  :host {
    --fg: #eeeeee;
    --fg2: #b4b4b4;
    --bg: #1c1c1c;
    --bg2: #2e2e2e;
    --hr: #2e2e2e;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  font-weight: 600;
  color: var(--fg);
  background-color: transparent;
  cursor: move;
}

.btn {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  padding: 2px;
  color: var(--fg2);
  background-color: transparent;
  border: 0 none;
  border-radius: var(--br);
  cursor: pointer;
  font-family: ui-monospace, monospace;
  font-weight: 600;
}

.btn:hover {
  color: var(--fg);
  background-color: var(--bg2);
}

.btn.on {
  color: var(--on);
}

.picker,
.palette {
  border-top: 1px solid var(--hr);
}

.picker {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 12px;
  gap: 8px;
}

.palette {
  padding: 10px 0;
}

.datum {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 2px 12px 2px 14px;
  min-height: 28px;
}

.key {
  padding-left: 2px;
  color: var(--fg2);
  white-space: nowrap;
  line-height: 24px;
}

.values {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.value,
.values > div {
  max-width: 100%;
  padding: 2px 6px;
  color: var(--fg);
  background-color: var(--bg2);
  font-family: ui-monospace, monospace;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
  text-align: right;
  border-radius: var(--br);
}

.value::-webkit-scrollbar {
  display: none;
}
